---
title: Welcome
layout: base
pagination: 
    data: collections.photos
    size: 10
    alias: pics
---

<link rel="stylesheet" href="{{ '/styles/flexbox.css' | url }}">

<p class ="indexPetPhotos">
    Pet photos from 
    <a class="unsplashLink" href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash
    </a>
</p>

<ul>
    {% for photo in pics %}
        <li class="photoli">
            <a class="photoUrl" href="{{ photo.url }}">
                A {{ photo.data.photo_keyword }} photo
                by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
            </a>

            <p class="indexPhotoDescription"> {{ photo.data.ai_description }}</p>
        </li>
    {% endfor %}
</ul>

<div class="prevNext">
    {% if pagination.previous %}
        <a class="previous" href="{{ pagination.previous }}">Previous</a>
    {% endif %}
    
    {% if pagination.next %}
        <a class="next" href="{{ pagination.next }}">Next</a>
    {% endif %}
</div>