---
title: Welcome
layout: /tailwind-ver-custom/tailwindbasecustom
pagination: 
    data: collections.photos
    size: 10
    alias: pics
---

<p class ="credit">
    Pet photos from  
    <a class="creditText" href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
        Unsplash
    </a>
</p>

<ul>
    {% for photo in pics %}
        <li class="photoli">
            <a class="photolia" href="{{ photo.url }}">
                A {{ photo.data.photo_keyword }} photo
                by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
            </a>
            <p> {{ photo.data.ai_description }}</p>
        </li>
    {% endfor %}
</ul>

<div class="prevNext">
    {% if pagination.previous %}
        <a class="pr-2" href="{{ pagination.previous }}">Previous</a>
    {% endif %}
    
    {% if pagination.next %}
        <a href="{{ pagination.next }}">Next</a>
    {% endif %}
</div>