<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} - {{ site }}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/grid.css' | url }}">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        
    </head>
    

    <header>
        <h1> Pet Photos</h1>
    </header>
    
    <body>
        <nav class ="nav">
            <ul class= "nav_list">
                <li><a href="/grid-ver/gridindex">Index</a></li>
                <li><a href="/grid-ver/gridabout">About Us</a></li>
            </ul>
        </nav>
        
        <nav class ="mobileNav">
            <ul class= "mobileNavlist">
                <li><a href ="#">Navigation</a>
                    <ul>
                        <li id= "mobileIndex"><a href="/">Index</a></li>
                        <li id= "mobileAboutUs"><a href="/about/">About Us</a></li>
                    <ul>
                </li>
            </ul>
        </nav>


        {{ content }}    
    </body>

    <div class="footer">
        <footer>
             Copyright @ 2021 CSUF Team 1
        </footer>
    </div>
</html>
