/* Index page*/


.previous,
.next{
    padding: 5px;
    justify-content: center;
}

.prevNext{
    display: grid;
}


.photoUrl{
    padding-right: 10px;
}

body{
    min-height: 100%;
}

.frontpage{
    display: grid;
    min-height: 100vh;
    grid-auto-flow: row;
}

.indexPetPhotos{ 
    display: grid;
    justify-content: center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}

.unsplashLink{
    padding-left: 5px;
}

#indexPhotoDescription{ 
    display: grid;
}

.nav{
    display: grid;
    justify-content: center; 
}

.mobileNav{
    display: none;}

@media screen and (max-width: 800px){
    .nav{
        display: none;
    }

    .mobileNav{
        display: grid;
        justify-content: start;
    }
}

li{
    display:grid;
    justify-content: center;
    grid-auto-flow: column;
}

.footer{
    display: grid;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 36px;
    margin-top: auto;
    background-color: lightblue;
    
}

.prevNext{
    display: grid;
    grid-auto-flow:column;
    justify-content: center;
}

/* About us page*/

.aboutDescription{
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
  
}
.projectDesc{
     grid-auto-flow: row;
    justify-items: center;
}

/* Photos page*/

.photoDetails{
display: grid;
grid-auto-flow: row;
justify-items: center;
}

figcaption{
    display: grid;
    justify-items: center;
}