header{
    background-color: lightblue;
    color: black;
    width: 100%;
    max-width: 100%;
}
nav{
    background-color: maroon;
    color: black;
}
  
footer{
    background-color: lightblue;
    color: black;
}
